* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(97, 94, 94);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.section-task {
  background-color: #fff;
  width: 50%;
  margin: 60px auto;
  box-shadow: 0 3px 6px rgb(24, 22, 22, 0.2);
}

.sidebyside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.sidebyside p {
  font-size: 18px;
  font-weight: bolder;
}

form {
  width: 80%;
}

#editTask {
  width: 100%;
  border: none;
  outline: none;
  font-style: italic;
  font-size: 18px;
}

.btn-empty {
  border: none;
  outline: none;
  width: 100%;
  padding: 20px;
  font-size: 16px;
}

.listTodo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.align-row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.label-checkbox input[type='checkbox'] {
  margin-right: 20px;
}

i {
  cursor: pointer;
}

.delete {
  margin-right: 20px;
}

.btn-empty:hover {
  cursor: pointer;
}

.inputEdit {
  border: none;
  outline: none;
  font-size: 17px;
  width: 80%;
}

.inputEdit:disabled {
  background-color: #fff;
}

.is_checked {
  color: tomato;
  text-decoration: line-through;
}

.not_checked {
  color: rgb(97, 94, 94);
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  .section-task {
    width: 95%;
  }
}
